section#cryptocurrencies {
    margin-top: 40px;
    text-align: center;

    h2 {
        width: 65%;
        margin: auto;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
    }

    div#flex-container {
        display: flex;
        flex-flow: row;
        margin-top: 64px;

        div.card {
            // flex: 20%;
            flex: auto;
            width: 370px;
            padding: 48px 24px;
            margin: 0 45px;
            border-radius: 16px;
            cursor: pointer;
            transition: 0.5s ease-in-out;

            img {
                width: 50px;
                height: 50px;
            }

            h3 {
                margin-top: 48px;
                font-size: 32px;
                font-weight: 700;

                span {
                    font-size: 16px;
                    font-weight: 500;
                    opacity: 0.7;
                }
            }

            p {
                margin-top: 16px;
                line-height: 28px;
            }

            button {
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: center;
                padding: 11px;
                margin-top: 25px;
                background: none;
                transition: 0.5s ease-in-out;

                span#text {
                    flex: 0;
                    overflow: hidden;
                    color: white;
                    transition: 1s ease-in-out;
                }

                span#arrow {
                    flex: 0;
                    display: inline-grid;
                    place-items: center;
                    width: 64px;
                    height: 64px;
                    border-radius: 50px;
                    border: 2px solid rgba(43, 7, 110, 0.2);
                    font-size: 18px;
                    font-weight: 700;
                    color: $button-bg;
                    transition: 1s ease-in-out;
                }
            }
        }

        div.card:first-of-type {
            margin-left: 0;
        }

        div.card:last-of-type {
            margin-right: 0;
        }

        div.card:hover {
            color: white;
            background: #2B076E;

            button {
                width: 205px;
                height: 64px;
                background: $button-bg;

                span#text {
                    flex: 80%;
                }

                span#arrow {
                    flex: 20%;
                    display: inline-grid;
                    place-items: center;
                    width: 32px;
                    height: 32px;
                    margin-left: 24px;
                    border-radius: 50px;
                    font-weight: 700;
                    text-align: center;
                    color: $button-bg;
                    background: white;
                }
            }
        }
    }
}