section#features {
    color: white;
    background: $light-bg-color;


    h2 {
        margin-bottom: 100px;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        line-height: 60px;
    }

    div.feature {
        display: flex;
        margin-bottom: 100px;

        img,
        div.text {
            flex: auto;
        }

        img {
            width: 50%;
            margin-left: 100px;
        }

        div.text {
            h3 {
                margin-top: 48px;
                font-size: 32px;
                font-weight: 700;
            }

            p {
                margin: 24px 60px 48px 0;
                color: #E0E0E0;
            }
        }

        button {
            width: 160px;
        }
    }

    div.feature:nth-of-type(2) {
        flex-flow: row-reverse;

        img {
            margin-left: -60px;
            margin-right: 100px;
        }
    }


    div#start-mining {
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 83%;
        padding: 48px;
        margin: 188px auto 100px;
        border-radius: 16px;
        background: $button-bg;

        div#text {
            flex: 40%;
            margin-right: 48px;
            
            h3 {
                margin-bottom: 16px;
                font-size: 32px;
                font-weight: 700;
            }
        }

        input {
            flex: 30%;
            height: 48px;
            margin-right: 48px;
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            color: white;
            background: transparent;
            transition: 0.5s ease-in-out;
        }

        input:focus {
            padding: 16px;
            outline: 1px solid rgba(255, 255, 255, 0.4);
        }

        ::placeholder {
            color: white;
        }

        button {
            flex: 20%;
            width: 150px;
            color: $button-bg;
            background: white;
        }
    }
}


// RESPONSIVENESS
@media (max-width:1024px) {
    section#features {
        h2 {
            font-size: 32px;
            text-align: left;
        }

        div.feature {
            display: block;

            img {
                width: 140%;
                margin: 48px 0 0;
                margin-left: -50px;
                object-position: center;
            }

            div.text {
                h3 {
                    font-size: 28px;
                }
            }
        }

        div.feature:nth-of-type(3) {
            img {
                margin-left: -80px;
            }
        }


        div#start-mining {
            display: block;
            width: 100%;
            
            div#text {
                margin: 0 0 48px;
            }

            input {
                display: block;
                width: 100%;
                margin: 0;
                margin-bottom: 24px;
            }

            input:focus {
                width: 110%;
                margin-left: -5%;
                margin-right: -5%;
            }

            button {
                margin: 0;
                width: 100%;
            }
        }

    }
}