footer {
    padding: 60px 50px;
    color: white;
    background: $dark-bg-color;

    a {
        transition: 0.4s ease-in-out;
    }

    a:hover {
        color: $button-bg;
    }

    div#flex-container {
        display: flex;
        flex-flow: row;

        div {
            flex: 20%;
            margin: 0 24px;
        }

        div:first-of-type {
            margin-left: 0;
        }

        div:last-of-type {
            margin-right: 0;
        }

        div#quick-links,
        div#resources {
            h3 {
                margin-bottom: 24px;
                font-size: 20px;
                font-weight: 500;
            }

            a {
                display: block;
                margin-bottom: 16px;
                color: #F2F2F2;
            }

            a:hover {
                color: $button-bg;
            }
        }

        div#payment {
            h2 {
                margin-bottom: 40px;
                font-size: 24px;
                font-weight: 500;
            }

            a {
                margin: 0 12px;
                
                i {
                    font-size: 36px;
                    color: #E0E0E0;
                    opacity: 0.5;
                    transition: 0.5s ease-in-out;
                }
            }

            a:first-of-type {
                margin-left: 0;
            }

            a:hover {
                i {
                    color: white;
                    opacity: 1
                }
            }
        }
    }

    div#bottom-content {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin-top: 100px;

        div {
            flex: 20%;
            margin: 0 12px;
        }

        div:first-of-type {
            margin-left: 0;
        }

        div:last-of-type {
            margin-right: 0;
            text-align: right;

            a {
                display: inline-block;
                margin: 0 16px;
            }
        }
    }
}

// RESPONSIVENESS
@media (max-width:1024px) {
    footer {
        // text-align: center;

        div#flex-container {
            display: block;

            div {
                margin: 0;
                margin-bottom: 48px;
            }

            div:first-of-type {
                text-align: left;
            }
        }

        div#bottom-content {
            display: block;

            div {
                margin: 0;
                margin-bottom: 24px;
                text-align: left;
            }

            div:last-of-type {
                margin-bottom: 0;
                text-align: left;

                a:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
}