nav {
	// padding: 60px 120px;
	padding: 60px 50px;
	color: white;
	background: $dark-bg-color;

	span#menu-icon {
		display: none;
		float: right;
		cursor: pointer;
		transition: 0.5s ease-in-out;

		i {
			font-size: 24px;
		}
	}

	div.nav-links {
		display: flex;
		flex-flow: row;
		align-items: center;
		width: 60%;
		height: 60px;
		margin-top: -10px;
		float: right;

		a {
			flex: auto;
			text-align: center;
			transition: 0.5s ease-in-out;

			button {
				width: 130px;
				height: 52px;
				color: white;
			}
		}

		a:hover {
			color: $button-bg;
		}

		a:last-of-type {
			border-left: 1px solid #f2f2f2;;
		}
	}
}


// RESPONSIVENESS
@media (max-width:1024px) {
	nav {
		padding: 5%;

		span#menu-icon {
			margin-top: 2%;
			display: inline-block;
			position: absolute;
			right: 5%;
			z-index: 2;
			transition: 0.5s ease-in-out;
		}
		
		div.nav-links {
			display: block;
			float: none;
			position: fixed;
			z-index: 1;
			right: 0;
			top: 0;
			width: 0;
			height: 100vh;
			padding-top: 10vh;
			background: $light-bg-color;
			text-align: center;
			transition: 0.5s ease-in-out;

			a {
				display: block;
				margin: 24px 0;

				button {
					width: 100%;
				}
			}

			a:last-of-type {
				border: 0;
			}
		}

		div.nav-links.visible {
			width: 40vw;
			padding: 10vh 24px 0;
		}
	}
}