section#why-crappo {
    padding-bottom: 0;
    color: white;
    background-color: $dark-bg-color;

    h2 {
        margin-bottom: 24px;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
    }

    div#stats {
        display: flex;
        flex-flow: row;
        width: 100%;
        margin-bottom: 100px;

        div.stat-container {
            flex: 33.33%;

            display: flex;
            flex-flow: row;

            img {
                flex: auto;
                width: 60px;
                height: 60px;
                margin-right: 24px;
            }

            div.text {
                flex: auto;
                width: 100%;

                p {
                    margin-top: 4px;
                    margin-right: 0;
                    font-weight: 400;
                }
            }
        }
    }

    div#illustration-and-text {
        img[alt='Illustration'] {
            float: left;
            width: 500px;
            margin-right: 70px;
        }

        h2 {
            margin-top: 160px;
        }

        p {
            color: #E0E0E0;
            line-height: 28px;
            margin-right: 80px;
        }

        button {
            width: 146px;
            margin-top: 32px;
        }
    }

    div#earn-checker {
        margin-top: 200px;
        margin-bottom: 64px;
        text-align: center;

        p {
            line-height: 27px;
        }
    }
}

div#revenue-calculator {
    width: 65%;
    padding: 24px 48px;
    margin:  auto;
    border-radius: 16px 16px 0 0;
    background: #FBFCFE;
    box-shadow: 0 0 10px 0 #391777;

    display: flex;
    flex-flow: wrap;
    align-items: center;

    input,
    select,
    button {
        flex: auto;
        margin: 0 24px;
    }

    input, select {
        height: 20px;
        // padding: 0 10px;
        outline: none;
        border: 0;
        border-bottom: 1px solid black;
        background: transparent;
        transition: 0.3s ease-in-out;
    }

    input {
        margin-left: 0;
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    select:focus {
        font-weight: bold;
    }

    button {
        width: 147px;
    }

    button:hover {
        color: $dark-bg-color;
        border: 1px solid $dark-bg-color;
    }
}


div#calculator-results {
    width: 59.1%;
    padding: 24px 48px;
    margin:  auto;
    border-radius: 0 0 16px 16px;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px 2px #ccc;

    h3 {
        margin-bottom: 16px;
        font-weight: 500;
        color: $button-bg;
    }

    h2 {
        font-size: 32px;
        font-weight: 700;

        span {
            font-size: 100%;
            color: $button-bg;
        }
    }

    p {
        margin-top: 4px;
        color: #828282;
    }
}


// RESPONSIVENESS
@media (max-width: 1024px) {
    section#why-crappo {
        h2 {
            font-size: 32px;
            line-height: 48px;
        }

        div#stats {
            display: block;

            div {
                margin-bottom: 24px;
            }
        }

        div#illustration-and-text {
            img[alt='Illustration'] {
                float: none;
                width: 100%;
                margin: 0;
            }

            h2 {
                margin-top: 48px;
            }

            p {
                margin-right: 0;
            }

            button {
                width: 80%;
            }
        }

        div#earn-checker {
            margin-top: 100px;
            text-align: left;
        }

        div#revenue-calculator {
            display: block;
            width: 100%;

            input,select,button {
                margin: 20px 0;
                width: 100%;
            }
        }
    }

    div#calculator-results {
        width: 100%;
        margin: 0 50px;
        margin-right: 100px;
        border: 1px solid red;
    }
}